.idea/
*.log
.env

# Symbolic link files
/bin/php-cs-fixer
/bin/php-parse
/bin/phpcbf
/bin/phpcs
/bin/phpunit

# Docker logs e configs
/docker/nginx/logs/
/docker/php/logs/

# Environment files
/environment/production.env
/environment/production*

# Dependencies
/vendor/
